
.write {
    animation-name: codewriter-animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

.write2 {
    animation-name: codewriter-animation;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

.write3 {
    animation-name: codewriter-animation;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

@Keyframes codewriter-animation {
    0% {
        width: 0;
        opacity: 0;
    }
    50% {
        width: 2rem;
        opacity: 1;
    }
    100% {
        width: 4rem;
        opacity: 1;
    }
}