.whztext
{
  background-image: linear-gradient(
    -45deg,
    #008FB5 0%,
    #009BBA 29%,
    #00ADC3 67%,
    #00C6CF 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animatedtext
{
  background-image: linear-gradient(
    -45deg,
    #008FB5 0%,
    #009BBA 29%,
    #00ADC3 67%,
    #00C6CF 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*animation: textclip 5s linear infinite;*/
}

.animatedtext2
{
  background-image: linear-gradient(
    -45deg,
    #008FB5 0%,
    #009BBA 29%,
    #00ADC3 67%,
    #00C6CF 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*animation: textclip2 5s linear infinite;
  animation-delay: 5s;*/
}

@keyframes textclip {
  100% {
    background-position: 200% center;
  }
  80% {
    background-position: 200% center;
  }
  40% {
    background-position: 50% center;
  }
  0% {
    background-position: 50% center;
  }
}

@keyframes textclip2 {
    0% {
        background-position: 200% center;
      }
    20% {
        background-position: 200% center;
      }
    60% {
        background-position: 50% center;
    }
    100% {
        background-position: 50% center;
      }
  }

.KCDTheme {
    background-image:linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.7) 80%, rgba(255,255,255,0.7) 80%, rgba(255,255,255,0.1) 100%);
    background-size:  auto 80vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.KCDTheme::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  inset: 0;
  position: absolute;
  background-image: url("../resources/images/kcd_cover.jpg");
  background-size:  auto 80vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: slide-in 2s ease-in 1;
}

.KCDTheme::after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  inset: 0;
  position: absolute;
  background-image: url("../resources/images/kcd_cover.jpg");
  background-size:  auto 80vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: slide-in 2s ease-in 1;
}

@keyframes slide-in {
  from { opacity: 0; }
  to { opacity: 1;}
}

